<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-5">
			<a href="https://www.eurecat.org/">
			<img src="{{ site.url }}{{ site.baseurl }}/assets/logos/eurecat-baseHOME_logo_75.png" alt="Eurecat Logo" style="height:30px;"></a><br>
	 		Technological Research Center of Catalunya.<br/>
			<a href="https://goo.gl/maps/TLxgasGSUQ2Dezs76" align="right">Carrer de Bilbao, 72, 08005 Barcelona.</a>
		</div>
		<div class="col-sm-4">
			<p>
				Multimedia Tecnologies Unit &copy 2019.<br/>
				E-mail: <a href="mailto:audiovisualteam&#64;eurecat.org">Image group</a> and 
			   <a href="mailto:3daudioteam&#64;eurecat.org">Audio group</a>.<br />
			   Phone (+34) 932 381 400
			</p>
		  	<p><a href="{{ site.url }}{{ site.baseurl }}/aboutwebsite.html">About</a> this site.</p>		  	
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
